USE [PRO1041S]
GO
/****** Object:  Table [dbo].[CHATLIEU]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATLIEU](
	[IDCHATLIEU] [int] IDENTITY(1,1) NOT NULL,
	[TENCHATLIEU] [nvarchar](300) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCHATLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[IDCHUCVU] [int] IDENTITY(1,1) NOT NULL,
	[MACV] [varchar](10) NULL,
	[TENCV] [nvarchar](200) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEGIAY]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGIAY](
	[IDDEGIAY] [int] IDENTITY(1,1) NOT NULL,
	[LOAIDEGIAY] [nvarchar](300) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDEGIAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADON] [varchar](10) NULL,
	[IDKHACHHANG] [int] NULL,
	[NGAYDATDAT] [date] NULL,
	[GICHU] [nvarchar](400) NULL,
	[IDKHUYENMAI] [int] NULL,
	[TONGTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[IDNHANVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONCT]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCT](
	[IDHOADONCT] [int] IDENTITY(1,1) NOT NULL,
	[IDHOADON] [int] NULL,
	[IDSANPHAMCHITIET] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHOADONCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[HOTEN] [varchar](300) NULL,
	[SODIENTHOAI] [varchar](13) NULL,
	[EMAIL] [varchar](300) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[GIOITINH] [bit] NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[IDKHUYENMAI] [int] IDENTITY(1,1) NOT NULL,
	[MAGIAMGIA] [varchar](10) NULL,
	[TENKHUYENMAI] [nvarchar](300) NULL,
	[LOAIKHUYENMAI] [nvarchar](300) NULL,
	[SOLUONG] [int] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[TRANGTHAI] [bit] NULL,
	[PHANTRAMGIAM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIGIAY]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGIAY](
	[IDLOAIGIAY] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOAIGIAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAUSAC]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUSAC](
	[IDMAUSAC] [int] IDENTITY(1,1) NOT NULL,
	[TENMAU] [nvarchar](300) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMAUSAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [varchar](10) NULL,
	[TENDANGNHAP] [varchar](50) NULL,
	[MATKHAU] [varchar](20) NULL,
	[GIOITINH] [bit] NULL,
	[EMAIL] [varchar](300) NULL,
	[SODIENTHOAI] [varchar](15) NULL,
	[IDCHUCVU] [int] NULL,
	[LUONG] [float] NULL,
	[TRANGTHAI] [int] NULL,
	[Tennv] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RandomNames]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RandomNames](
	[RowNum] [uniqueidentifier] NULL,
	[RandomName] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[IDSANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](10) NULL,
	[TENSP] [nvarchar](300) NULL,
	[MOTA] [nvarchar](1500) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAMCHITIET]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMCHITIET](
	[IDSANPHAMCHITIET] [int] IDENTITY(1,1) NOT NULL,
	[IDSANPHAM] [int] NULL,
	[IDLOAIGIAY] [int] NULL,
	[IDSIZE] [int] NULL,
	[IDTHUONGHIEU] [int] NULL,
	[IDDEGIAY] [int] NULL,
	[IDMAUSAC] [int] NULL,
	[IDCHATLIEU] [int] NULL,
	[MASPCT] [varchar](10) NULL,
	[GIA] [float] NULL,
	[SOLUONG] [int] NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSANPHAMCHITIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[IDSIZE] [int] IDENTITY(1,1) NOT NULL,
	[SOSIZE] [int] NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempKhachHang]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempKhachHang](
	[MAKH] [varchar](10) NULL,
	[HOTEN] [varchar](300) NULL,
	[SODIENTHOAI] [varchar](13) NULL,
	[EMAIL] [varchar](300) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[GIOITINH] [bit] NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempRandomNames]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempRandomNames](
	[RowNum] [int] NULL,
	[RandomName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempS]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempS](
	[IDHOADON] [int] NULL,
	[IDSANPHAMCHITIET] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 4/22/2024 3:29:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[IDTHUONGHIEU] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUONGHIEU] [nvarchar](300) NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKHACHHANG])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([IDKHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([IDKHUYENMAI])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[HOADONCT]  WITH CHECK ADD FOREIGN KEY([IDSANPHAMCHITIET])
REFERENCES [dbo].[SANPHAMCHITIET] ([IDSANPHAMCHITIET])
GO
ALTER TABLE [dbo].[HOADONCT]  WITH CHECK ADD FOREIGN KEY([IDHOADON])
REFERENCES [dbo].[HOADON] ([IDHOADON])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([IDCHUCVU])
REFERENCES [dbo].[CHUCVU] ([IDCHUCVU])
GO
ALTER TABLE [dbo].[SANPHAMCHITIET]  WITH CHECK ADD FOREIGN KEY([IDCHATLIEU])
REFERENCES [dbo].[CHATLIEU] ([IDCHATLIEU])
GO
ALTER TABLE [dbo].[SANPHAMCHITIET]  WITH CHECK ADD FOREIGN KEY([IDDEGIAY])
REFERENCES [dbo].[DEGIAY] ([IDDEGIAY])
GO
ALTER TABLE [dbo].[SANPHAMCHITIET]  WITH CHECK ADD FOREIGN KEY([IDMAUSAC])
REFERENCES [dbo].[MAUSAC] ([IDMAUSAC])
GO
ALTER TABLE [dbo].[SANPHAMCHITIET]  WITH CHECK ADD FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[SANPHAM] ([IDSANPHAM])
GO
ALTER TABLE [dbo].[SANPHAMCHITIET]  WITH CHECK ADD FOREIGN KEY([IDSIZE])
REFERENCES [dbo].[SIZE] ([IDSIZE])
GO
ALTER TABLE [dbo].[SANPHAMCHITIET]  WITH CHECK ADD FOREIGN KEY([IDTHUONGHIEU])
REFERENCES [dbo].[THUONGHIEU] ([IDTHUONGHIEU])
GO
ALTER TABLE [dbo].[SANPHAMCHITIET]  WITH CHECK ADD FOREIGN KEY([IDLOAIGIAY])
REFERENCES [dbo].[LOAIGIAY] ([IDLOAIGIAY])
GO
